
<div class="container mt-5">
    <form action="/" method="post">
        <h2>Cadastrar Produto</h2>

        <div class="mb-1">
            <label class="form-label">Foto</label>
            <input type="file" class="form-control shadow-none" name="foto">
        </div>

        <div class="mb-1">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control shadow-none" name="nome">
        </div>

        <div class="mb-1">
            <label class="form-label">Preço</label>
            <input type="number" class="form-control shadow-none" min="1" step="any" name="preco">
        </div>

        <div class="mb-1">
            <label class="form-label">Quantidade</label>
            <input type="number" class="form-control shadow-none" min="1" step="any" name="quantidade">
        </div>

        <div class="mb-1">
            <label class="form-label"></label>
            <select class="form-select"
                    asp-items="@(new SelectList(ViewBag.Categorias, "Id", "Nome"))"></select>
        </div>

        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary w-50 mx-1">Cadastrar</button>
            <a class="btn btn-secondary w-50 mx-1" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>