@using LojaProdutos.DTO.Produtos
@model EditarProdutoDTO

<div class="container mt-5">
    <form asp-action="Editar" asp-controller="Produtos" method="post" enctype="multipart/form-data">
        <h2>Editar Produto | @Model.Nome</h2>

        <input type="hidden" asp-for="Id"/>
        <input type="hidden" asp-for="Foto"/>

        <div class="mb-1">
            <label class="form-label">Foto</label>
            <input type="file" class="form-control shadow-none" name="foto">
            <span asp-validation-for="Foto"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control shadow-none" name="nome" asp-for="Nome">
            <span asp-validation-for="Nome"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Marca</label>
            <input type="text" class="form-control shadow-none" name="marca" asp-for="Marca">
            <span asp-validation-for="Marca"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Preço</label>
            <input type="number" class="form-control shadow-none" min="1" step="any" name="Valor" asp-for="Valor">
            <span asp-validation-for="Valor"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Quantidade</label>
            <input type="number" class="form-control shadow-none" min="1" step="any" name="QuantidadeEstoque" asp-for="QuantidadeEstoque">
            <span asp-validation-for="QuantidadeEstoque"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Categoria</label>
            <select class="form-select" asp-for="CategoriaModelId"
                    asp-items="@(new SelectList(ViewBag.Categorias, "Id", "Nome", Model.CategoriaModelId))">
            </select>
            <span asp-validation-for="CategoriaModelId"></span>
        </div>

        <div class="d-flex mt-3">
            <button type="submit" class="btn btn-primary w-50 mx-1">Editar</button>
            <a class="btn btn-secondary w-50 mx-1" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>